# Python
__pycache__/
*.pyc

# Models / checkpoints
*.ckpt

# Logs / outputs
logs/
outputs/
2026-*/

# OS junk
.DS_Store

# dataset
actual_graph.txt
actual_graph_communities.txt
top_5000_communities.txt